	<p>
  <label>Name</label>
  <span>:</span>
  <%= @employee.name %>

  </p>

  <p>
  <label>Age</label>
  <span>:</span>
  <%= @employee.age %>
 </p>

 <p>
  <label>gender</label>
  <span>:</span>
  <%= @employee.gender %>
 </p>

 
<%= link_to 'Back', employees_path %>
